///////////////////////////////////
// Information and Pictures section
.section-info {
  max-width: 114rem;
  display: flex;
  flex-direction: row;
  margin: auto;

  &__item {
    flex: 1;
  }

  &__text {
    max-width: 54rem;
    margin-right: 6rem;
    // background-color: white;
  }

  &__images {
    // max-width: 54rem;
    // background-color: white;
  }
}

///////////////////////////////////
// Features Section
.feature-container {
  display: flex;
  justify-content: center;
}

///////////////////////////////////
// Card/Tours Section
.tours-container {
  display: flex;
  justify-content: center;
}

///////////////////////////////////
// Book Section
.book-container {
  max-width: 80%;
  margin: auto;
}

///////////////////////////////////
// Footer Info Section
.footer__info-container {
  max-width: 114rem;
  margin: auto;
  display: flex;
}

.footer__info-box {
  flex: 1;
}

.footer__copyright {
  max-width: 43.2rem;
  margin-left: auto;
}